<h1><%=t("professionals")%></h1><br>

<p id="notice"><%= notice %></p>

<%= search_form_for @q, url: search_professionals_path, html: { method: :post } do |f| %>

  <%= f.label t("activerecord.attributes.professional.name") %>
  <%= f.search_field :name_cont %>

  <%= f.submit class: 'btn btn-sm btn-primary' %>
<% end %><br>

<div style="width:30%">
  <table class="table table-sm table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center"><%=t("activerecord.attributes.professional.name")%></th>
        <th class="text-center"><%=t("actions")%></th>
      </tr>
    </thead>

    <tbody>
      <% @professionals.each do | professional | %>
        <tr class="text-center">
          <td><%= professional.name %></td>
          <td>
            <%= link_to t('show'), professional if can? :read, Professional %>
            <%= link_to t('edit'), edit_professional_path(professional) if can? :update, Professional %>
            <%= link_to t('delete'), professional, method: :delete, data: { confirm: t('confirm') } if can? :destroy, Professional %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @professionals.empty? %>
  <h3><%=t("not_found")%></h3>
<% end %>

<%= paginate @professionals %>

<%= button_to "#{t("new")} #{t("activerecord.models.professional")}", new_professional_path, button_options if can? :create, Professional %>