<h1>Professionals</h1><br>

<p id="notice"><%= notice %></p>

<%= search_form_for @q, url: search_professionals_path, html: { method: :post } do |f| %>

  <%= f.label 'Professional name' %>
  <%= f.search_field :name_cont %>

  <%= f.submit class: 'btn btn-sm btn-primary' %>
<% end %><br>

<div style="width:30%">
  <table class="table table-sm table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @professionals.each do | professional | %>
        <tr class="text-center">
          <td><%= professional.name %></td>
          <td>
            <%= link_to 'Show', professional if can? :read, Professional %>
            <%= link_to 'Edit', edit_professional_path(professional) if can? :update, Professional %>
            <%= link_to 'Delete', professional, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Professional %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @professionals.empty? %>
  <h3>No professionals were found</h3>
<% end %>

<%= paginate @professionals %>

<%= button_to 'New professional', new_professional_path, button_options if can? :create, Professional %>