<p id="notice"><%= notice %></p>

<p>
  <strong> <%=t("activerecord.attributes.user.name")%>: </strong>
  <%= @user.name %>
</p>

<p>
  <strong> <%=t("activerecord.attributes.user.surname")%>: </strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong> <%=t("activerecord.attributes.user.role")%>: </strong>
  <%= t(@user.role) %>
</p>

<%= generate_edit_button if can?(:update, User) %>
<%= generate_back_button %>