<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role.capitalize %>
</p>

<%= can?(:update, User) ? link_to('Edit', current_user.role == "administrator" ? edit_user_path(@user) : "/user/edit") : "" %> |
<%= link_to 'Back', :back %>
