<!DOCTYPE html>
<html>
    <head>
        <title>Appointments by date</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            .center {
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }
        </style>
    </head>
    <div class="container">
        <h1 class="text-center"> <%= I18n.t('appointments_of_date') %> <%= date.strftime("%d-%m-%Y")%><%=", #{I18n.t('activerecord.models.professional')} #{professional_name}" if professional_name%></h1> <br>
        <table class="table table-striped table-bordered">
            <tr>
                <th scope="col" class="text-center"><%= I18n.t('hour_day') %></th>
                <th scope="col" class="text-center"><%="#{AppointmentsExporterHelper.get_day_of_week(date)} (#{date.strftime("%d-%m-%Y")})"%></th>
            </tr>
            <% appointments.each_key do | hour | %>
                <tr>
                    <th scope="row" class="text-center"><%= hour %></th>
                    <td class="text-center" style="width:auto">
                        <table class="table table-bordered center">
                            <% appointments[hour].each do | appointment | %>
                                <tr> <td> <%= I18n.t('patient') %> <%= appointment.name%> <%= appointment.surname%> - <%= I18n.t('activerecord.models.professional') %> <%= appointment.professional.name%> </td> </tr>
                            <% end %>
                        </table>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</html>