<h1><%= @professional ? "#{@professional.name}'s appointments" : "Appointments"%></h1><br>

<p id="notice"><%= notice %></p>

<%= form_for :anything, url: filter_route(appointments_path) do |form| %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="actions">
    <%= form.submit 'Filter by date', :class => 'btn btn-success btn-sm', data: { disable_with: false } %>
  </div>

<% end %><br>

<table class="table table-striped table-bordered" style="width:60%">
  <thead>
    <tr>
      <th class="text-center">Patient name</th>
      <th class="text-center">Patient surname</th>
      <th class="text-center">Date time</th>
      <th class="text-center">Professional</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr class="text-center">
        <td><%= appointment.name %></td>
        <td><%= appointment.surname %></td>
        <td><%= appointment.date_time_string %></td>
        <td><%= link_to appointment.professional.name, appointment.professional %></td>
        <td>
          <%= link_to 'Show', route(appointment_path(appointment)) if can? :read, Appointment %>
          <%= link_to 'Edit', route(edit_appointment_path(appointment)) if can? :update, Appointment %>
          <%= link_to 'Cancel', route(appointment_path(appointment)), method: :delete, data: { confirm: 'Are you sure?' } if can?(:destroy, Appointment) && !appointment.finished? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @appointments.empty? %>
  <h3>No appointments were found</h3>
<% end %>

<br>

<% if not @professional %>
  <%= button_to 'New appointment', new_appointment_path, button_options if can? :create, Appointment %>
<% else %>
  <%= button_to 'New appointment', new_professional_appointment_path, button_options if can? :create, Appointment %>
  <%= button_to 'Cancel all appointments', cancel_all_appointments_path, button_options('danger', :post).merge(data: { confirm: 'Are you sure?' }) if can? :destroy, Appointment %>
<% end %>