<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @appointment.surname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @appointment.phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.notes %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @appointment.date_time_string %>
</p>

<p>
  <strong>Professional:</strong>
  <%= @appointment.professional.name %>
</p>

<%= generate_edit_button if can? :update, Appointment %>       
<%= button_to 'Cancel', route(appointment_path), button_options('danger', :delete).merge(data: { confirm: 'Are you sure?' }) if (!@appointment.finished? && can?(:destroy, Appointment)) %>
<%= generate_back_button %>