<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand">Polycon</div>
    <ul class="nav navbar-nav">
      <% if can? :read, Professional %>
        <li <%= raw controller.controller_name==('professionals') ? 'class="active"' : "" %>>  <a href="<%= professionals_path %>"><%=t("professionals")%></a></li>
      <% end %>
      <% if can? :read, Appointment %>
        <li <%= raw controller.controller_name==('appointments') ? 'class="active"' : "" %>> <a href="<%= appointments_path %>"><%=t("appointments")%></a></li>
        <li <%= raw controller.controller_name==('appointments_exporter') ? 'class="active"' : "" %>> <a href="<%= appointments_exporter_index_path %>"><%=t("export_appointments")%></a></li>
      <% end %>
      <% if can? :read, User %>
        <li <%= raw ( controller.controller_name==('users') && !(request.path==('/my_profile') || (params[:id].to_i==@current_user.id))) ? 'class="active"' : "" %>> <a href="<%= users_path %>"><%=t("users")%></a></li>
      <% end %>
      <li <%= raw ((controller.controller_name==('users') && current_user.role != "administrator") || (request.path==('/my_profile') || (controller.controller_name==('users') && (params[:id].to_i==@current_user.id)))) ? 'class="active"' : "" %>> <a href="<%= my_profile_path %>"><%=t("my_profile")%></a></li>
      <li><%= link_to t("logout"), destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>